<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/22b1cec598.js" crossorigin="anonymous"></script>   
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/problem7.css">
    <title>Problema 7</title>
</head>
<body>
    <%- include('./partials/header') %>
    <div class='container'>
        <h2>Problema 7</h2>
            <div class="container__form">
                <form action="/problem7" method="POST" id ="form__tasks" class="form__inputs">
                    <label for="name_task">Nombre de la tarea</label>
                    <input type="text" name="name_task" id="name_task" class="form_inputs-task">
                    
                    <label for="date">Fecha</label>
                    <input type="date" name="date" id="date" class="form_inputs-date">
                    
                    <label for="priority">Prioridad</label>
                    <input type="text" name="priority" id="priority" class="form_inputs-priority">
                    
                    <label for="description">Descripción</label>
                    <input type="text" name="description" id="description" class="form_inputs-description">
                    <button type="reset" class="btnClear">Limpiar</button>
                    <button type="submit" id="btnAdd" class="btnAdd">Agregar</button>
                </form>              
            </div>

            <div class="container__table">
                <table class="table__tasks">
                    <thead class="table__tasks-head">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">NOMBRE DE LA TAREA</th>
                            <th scope="col">FECHA</th>
                            <th scope="col">PRIORIDAD</th>
                            <th scope="col">DESCRIPCIÓN</th>
                            <th scope="col">ACCIONES</th>
                        </tr>
                    </thead>
                    <tbody id="items">
                        <% for(let i=0; i < tasks.length; i++) { %>
                        <form method="POST" action="/problem7/delete/<%= tasks[i].id %>?_method=DELETE" id="template__tasks">
                            <tr>
                                <td data-label="ID">
                                    <%= tasks[i].id %>
                                </td>
                                <td data-label="NOMBRE DE LA TAREA">
                                    <%= tasks[i].name_task %>
                                </td>
                                <td data-label="FECHA">
                                    <%= tasks[i].date %>
                                </td>
                                <td data-label="PRIORIDAD">
                                    <%= tasks[i].priority %>
                                </td>
                                <td data-label="DESCRIPCIÓN">
                                    <%= tasks[i].description %>
                                </td>
                                <td data-label="ACCIONES">
                                    <div class="btnDelete">
                                    <button type="submit" ><i class="fa-solid fa-trash-can"></i></button>
                                    </div>
                                </td>
                            </tr>
                        </form>
                            <% } %>
                    </tbody>
                </table>
            </div>

 
        </div>
        <script> 
            const product = tasks.find((product) => product.id == 1);
            console.log(product)
            const taskInput = document.querySelector('#name_task');
            const dateInput = document.querySelector('#date');
            const priorityInput = document.querySelector('#priority');
            const descriptionInput = document.querySelector('#description');
            const item = document.getElementById('btnEdit')
            const templateCard = document.getElementById('template__tasks')

            console.log(templateCard)

   

            const pintarCards = data => {
                data.forEach(item => {
                    templateCard.querySelector('h5').textContent = item.title
                    templateCard.querySelector('p').textContent = item.precio
                    templateCard.querySelector('button').dataset.id = item.id
                    const clone = templateCard.cloneNode(true)
                    fragment.appendChild(clone)
                })
                cards.appendChild(fragment)
            }

            

            
        </script>
</body>
</html>